<launch>
    
    <arg name="robots_count" default="2" />
    <param name="/mrm/robots_count" value="$(arg robots_count)" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find hamster_server_launch)/maps/cogniteam.yaml" /> 

    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find hamster_server_launch)/rqt/hamster.perspective" /> 

    <node name="hamster_rviz_generator" pkg="hamster_server_launch" type="hamster_server_rviz_generator.sh" args="$(arg robots_count) -d $(find hamster_server_launch)/rviz/hamsters.rviz"/> 

</launch>
